
<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <p><img width="200" src="../assets/images//geek_shopping.png" /></p>
    <h1 class="text-body-emphasis" style="background-color:orange">Bem vindo ao {{ title }}!</h1>
    <p class="lead">
      This is a simple Bootstrap jumbotron that sits within a <code>.container</code>, recreated with built-in utility classes.
    </p>
  </div>
</div>
<div>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> GeekShopping Angular Application Example</mat-card-title>
      <mat-card-subtitle>Utiliza o <a href="https://material.angular.io/" target="_blank">Angular Material</a> Design components for Angular</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>Neste exemplo você poderá testar uma aplicação Angular fazendo o cadastro Clientes, Produtos e Pedidos</mat-card-content>
  </mat-card>
</div>



