<h1 class="TextoLaranja">Bem vindo ao {{ title }}!</h1>
<br/>

<div>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title> GeekShopping Angular Application Example</mat-card-title>
      <mat-card-subtitle>Utiliza o <a href="https://material.angular.io/" target="_blank">Angular Material</a> Design components for Angular</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>Neste exemplo você poderá testar uma aplicação Angular fazendo o cadastro Clientes, Produtos e Pedidos</mat-card-content>
  </mat-card>
</div>

