<div class="alert alert-info d-flex align-items-center" role="alert">
  <svg class="bi pe-none me-2" width="16" height="16">
    <use xlink:href="#people-circle" />
  </svg>
  <div style="margin-left: 10px;font-weight: bolder;font-size: large;">
    Cadastrar Produto
  </div>
</div>

<form #formProduto="ngForm" >
  <div class="row">
    <div class="col-md-6">
      <label class="form-label">Nome</label>
      <input type="text" placeholder="Digite nome produto"
        [ngClass]="name.valid || (!formProduto.submitted && !(name.dirty || name.touched)) ? 'form-control ' : 'form-control is-invalid'"
        value="" id="name" name="name" [(ngModel)]="produto.name" #name="ngModel" minlength="10" required>
      <div class="invalid-feedback" [hidden]="name.valid || (!formProduto.submitted && !(name.dirty || name.touched))">
        O nome dever ter no minimo 10 caracteres.
      </div>
    </div>
    <div class="col-md-3">
      <label class="form-label">Categoria</label>
      <select
        [ngClass]="categoryName.valid || (!formProduto.submitted && !(categoryName.dirty || categoryName.touched)) ? 'form-control form-select ' : 'form-control form-select is-invalid'"
        id="categoryName" name="categoryName" [(ngModel)]="produto.categoryName" #categoryName="ngModel" required>
        <option value="Roupa">Roupa</option>
        <option value="Relogio">Relogio</option>
        <option value="Esporte">Esporte</option>
        <option value="Celular">Celular</option>
        <option value="NoteBook">NoteBook</option>
      </select>
      <div class="invalid-feedback"
        [hidden]="categoryName.valid || (!formProduto.submitted && !(categoryName.dirty || categoryName.touched))">
        Categoria obrigatório.
      </div>
    </div>
    <div class="col-md-3">
      <label class="form-label">Nome do Arquivo imagem</label>
      <input type="text" placeholder="exemplo: nomeArqimagem.jpg"
        [ngClass]="imageUrl.valid || (!formProduto.submitted && !(imageUrl.dirty || imageUrl.touched)) ? 'form-control ' : 'form-control is-invalid'"
        id="imageUrl" name="imageUrl" [(ngModel)]="produto.imageUrl" #imageUrl="ngModel" required>
      <div class="invalid-feedback"
        [hidden]="imageUrl.valid || (!formProduto.submitted && !(imageUrl.dirty || imageUrl.touched))">
        Nome do Arquivo imagem obrigatório.
      </div>
    </div>
  
  </div>

    <div class="col-md-12">
      <label class="form-label">Descrição</label>
      <textarea rows="5" placeholder="Digite a descrição do produto. 500 caracteres máximo"
        [ngClass]="description.valid || (!formProduto.submitted && !(description.dirty || description.touched)) ? 'form-control ' : 'form-control is-invalid'"
        id="description" name="description" [(ngModel)]="produto.description" #description="ngModel" required
        maxlength="500">
            </textarea>
      <div class="invalid-feedback"
        [hidden]="description.valid || (!formProduto.submitted && !(description.dirty || description.touched))">
        Descrição obrigatório.
      </div>
    </div>
    <div class="col-md-3">
      <label class="form-label">Preço</label>
      <input type="text" placeholder="Digite o preço do produto"
        [ngClass]="price.valid || (!formProduto.submitted && !(price.dirty || price.touched)) ? 'form-control ' : 'form-control is-invalid'"
        id="price" name="price" [(ngModel)]="produto.price" #price="ngModel" required>
      <div class="invalid-feedback"
        [hidden]="price.valid || (!formProduto.submitted && !(price.dirty || price.touched))">
        Preço obrigatório.
      </div>
    </div>
    <div class="col-12">
      <br />
      <div class="text-center">
        <input type="submit" class="btn btn-success" (click)="cadastrar(formProduto.value)"  value="Cadastrar">
        &nbsp;&nbsp;
        <a [routerLink]="['/home']" class="btn btn-primary">
          Voltar
        </a>
      </div>
    </div>

</form>
{{formProduto.value | json}}  